<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OffLangParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OffLangParser.Properties.Settings>
            <setting name="TermSeparator" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="ParentIndicator" serializeAs="String">
                <value>&lt;</value>
            </setting>
            <setting name="PrefixSeparator" serializeAs="String">
                <value>:</value>
            </setting>
            <setting name="LanguageSeparator" serializeAs="String">
                <value>:</value>
            </setting>
        </OffLangParser.Properties.Settings>
    </applicationSettings>
</configuration>